body {
	font-family: 'Staatliches', cursive;
    color: white;
    text-align: center;
    top: 15%;
	background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 0));
}

h1 {
    font: 600 3.5em 'Staatliches', cursive;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    width: 100%;
}

p {
    letter-spacing: .2em;
}

button {
  font-family: 'Staatliches', cursive;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

input {
    width: 5em;
    height: 3em;
    background: transparent;
    cursor: pointer;
}

h2 {
     text-transform: uppercase;
     letter-spacing: .3em;
     padding-top: 30px;
}

h3 {
	font-family: 'Source Code Pro', monospace;
    color: white;
    text-align: center;
    text-transform: none;
    background: rgba(0,0,0,.15);
    display: inline-block;
}

.fa-arrow-circle-down {
    animation: slide1 1.5s ease-in-out infinite;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}